name: Test_Action

on: [push]

jobs:
  hello_world_job:
    runs-on: ubuntu-latest
    name: Test job
    steps:
    - name: Hello world action step
      id: hello
      uses: JacobDomagala/TestAction@master
      with:
        owner: JacobDomagala
        repo: TestAction
        run_id: $GITHUB_RUN_ID

    # Use the output from the `hello` step
    - name: Get the output time
      run: echo "The time was ${{ steps.hello.outputs.time }}"